name = "CloudMicrophysics"
uuid = "6a9e3e04-43cd-43ba-94b9-e8782df3c71b"
authors = ["Climate Modeling Alliance"]
version = "0.31.9"

[deps]
ClimaParams = "5c42b081-d73a-476f-9059-fd94b934656c"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
LogExpFunctions = "2ab3a3ac-af41-5b50-aa03-7779005ae688"
RootSolvers = "7181ea78-2dcb-4de3-ab41-2b8ab5a31e74"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Thermodynamics = "b60c26fb-14c3-4610-9d3e-2d17fe7ff00c"
UnrolledUtilities = "0fe1646c-419e-43be-ac14-22321958931b"

[weakdeps]
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
MLJ = "add582a8-e3ab-11e8-2d5e-e98b27df1bc7"

[extensions]
EmulatorModelsExt = ["DataFrames", "MLJ"]

[compat]
ClimaParams = "1"
DataFrames = "1.6"
DocStringExtensions = "0.8, 0.9"
ForwardDiff = "0.10, 1"
LazyArtifacts = "1"
LogExpFunctions = "0.3.29"
MLJ = "0.20, 0.22"
RootSolvers = "0.3, 0.4, 1"
SpecialFunctions = "2.7.1"
StaticArrays = "1.9"
Thermodynamics = "0.15.4"
UnrolledUtilities = "0.1"
julia = "1.6"
